@model Example1.UserIndexDTO

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h2>User List</h2>
    <table>
    <thead>
    <tr>
    </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</body>
</html>

